.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
nltk_data/
models/
app/nlp/review_text_title_model/*.joblib
app/nlp/review_text_title_model/*.model
app/nlp/review_text_title_rating_price_model/*.joblib
app/nlp/review_text_title_rating_price_model/*.model
data/*.sqlite
knowledge/*.pdf
app/static/fonts/
app/static/images/
